.editVehicle{
    width: 60vw;
    margin-top: 20px;
    height: 80vh;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.editVehicle .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.editVehicle .top h1{
    font-size: 24px;
}

.editVehicle .top > div{
    display: flex;
    align-items: center;
    width: 100%;
}

.editVehicle .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.editVehicle .inputClass{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.editVehicle .inputClass .inputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.editVehicle label{
    margin-bottom: 10px;
    font-size: 19px;
}

.editVehicle input,
.editVehicle select{
    width: 100%;
    border: none;
    outline: navajowhite;
    border-bottom: 3px solid var(--color-dark);
    transition: all 300ms ease-in;
    padding: 5px;
    font-size: 18px;
}

.editVehicle input:focus,
.editVehicle select:focus{
    border-bottom: 3px solid var(--color-primary-variant);
}

.editVehicle .opt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.editVehicle .opt .current{
    width: 100%;
}

.editVehicle .vehicle{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editVehicle .payment{
    width: 20%;
}

.editVehicle hr{
    margin-top: 30px;
    border: 2px solid var(--color-dark);
}

.editVehicle .btn{
    display: flex;
    width: 100%;
}

.editVehicle .btn button{
    padding: 15px 25px;
    background: var(--color-primary);
    transition: all 300ms ease;
    margin-left: auto;
    color: var(--color-white);
    font-weight: 500;
    font-size: 22px;
    border: none;
    outline: none;
    border-radius: 16px;
}

.editVehicle .btn button:hover{
    background: var(--color-primary-opa);
}

@media screen and (max-width: 800px) {
    .editVehicle{
        width: 75vw;
    }
}

@media screen and (max-width: 600px) {
    .editVehicle{
        padding-left: 5px;
        padding-right: 5px;
        width: 85vw;
    }

    .editVehicle .top{
        flex-direction: column;
    }

    .editVehicle .top h1{
        font-size: 18px;
        width: 100%;
    }

    .editVehicle .top span{
        text-align: right;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .editVehicle .inputClass{
        display: flex;
        flex-direction: column;
    }

    .editVehicle .travel .traveldiv{
        flex-direction: column;
    }

    .editVehicle .vehicle{
        width: 100%;
    }

    .editVehicle .payment{
        width: 50%;
    }
}